Repository aviv82/pizza-api, pull requests merged in 2022-04, with the labels that each got.

#7 adding planning files
  package-lock.json
  planning/backlog.md
  planning/communication-plan
  planning/constraints.md
  planning/development-strategy.md
  planning/retrospective.md
Labels: planning

#11 feature: Send order
  package-lock.json
  public/script/api/big-fetch.js
  public/script/components/create-order.js
  public/script/components/create-pizza.js
  public/script/components/load-up.js
  public/script/config.js
  public/script/handlers/order-handler.js
  public/script/index.js
  public/script/listeners/pizza-listener.js
  src/api/order/content-types/order/schema.json
  src/api/pizza/content-types/pizza/schema.json
Labels: feature, js

#14 merge and solve `rebuild` conflict
  public/data.js
  public/index.html
  public/script/components/load-up.js
  public/script/config.js
  public/script/handlers/order-handler.js
  public/script/handlers/pizza-handler.js
  public/script/listeners/pizza-listener.js
  public/style/style.css
  src/api/dough/content-types/dough/schema.json
  src/api/size/content-types/size/schema.json
Labels: js, conflict, html, css
